/* :root{
    --bg-color: #1f1f1f;
    --text-color: #fff;
    --main-color: #ffae00;
    --big-font: 7rem;
    --p-font: 1.1rem;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    padding: 2% 15%;
    transition: all ease .45s;
}
.logo{
    color: var(--text-color);
    font-size: 41px;
    font-weight: 600;
}
.logo span{
    color: var(--main-color);
}
.navbar{
    display: flex;
}
.navbar a{
    font-size: var(--p-font);
    font-weight: 500;
    color:var(--text-color);
    margin: 0 25px;
    transition: all ease .50s;
}
.navbar a:hover{
    color: var(--main-color);
}
.navbar a.active{
    color:var(--main-color) ;
}
header a img{
    background:var(--main-color);
} */