<header class="fixed top-0 left-0 w-full flex z-50 justify-between items-center py-2 px-14 transition-all ease-in">
    <a href="#"><img src="/nk.png" class="rounded-full w-20 h-20 bg-golden-yellow" alt=""></a>
    <a class="font-bold text-4xl" href="#"><span class="text-golden-yellow">Angular</span>Basics</a>
    <ul class="flex text-base font-bold px-1.5 gap-5 transition-all ease duration-1000">
        <li class="hover:text-golden-yellow"><a class="text-golden-yellow" href="#">Home</a></li>
        <li class="hover:text-golden-yellow"><a href="#">Home</a></li>
        <li class="hover:text-golden-yellow"><a href="#">Home</a></li>
        <li class="hover:text-golden-yellow"><a href="#">Home</a></li>
        <li class="hover:text-golden-yellow"><a href="#">Home</a></li>
        <li class="hover:text-golden-yellow"><a href="#">Home</a></li>
    </ul>
</header>